html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

body {
    /* background: url("../assets/imgs/fridge_inside.png") no-repeat fixed; */
    background-size: cover;
}

h1{
    background-color: green;
}

#navigationPanel {
    box-shadow: #001B20 0 0 15px 0;
    height: 100%;
}

.sticky-offset-70 {
    top: 70px;
}