html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

body {
    /* background: url("../assets/imgs/fridge_inside.png") no-repeat fixed; */
    background-size: cover;
}

h1{
    background-color: green;
}