<!DOCTYPE html>
<html>

<head>
    <title>Inventory Manager</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>
    <app-header><app-navigation-mobile></app-navigation-mobile></app-header>

    <div class="container-fluid" style="height: calc(100vh - 55px)">
        <div class="row" style="height: inherit">
            <div class="float-left col col-lg-2 col-sm-3 d-none d-sm-block background-3" id="navigationPanel">
                <app-navigation-desktop></app-navigation-desktop>
            </div>
            <div class="float-left col col-lg-10 col-sm-9 ">
                <router-outlet></router-outlet>
            </div>
            </div>
    </div>
</body>
</html>