<!DOCTYPE html>
<html>

  <head>
    <title>Inventory Manager</title>

    <!--meta data-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--stylsheets-->
    <link rel="stylesheet" href="additionals/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!--jquery and bootstrap-->
    <script src="additionals/jquery/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="additionals/bootstrap/js/bootstrap.js"></script>

    <!--own scripts-->
    <script src="scripts/index.js"></script>
  </head>
  <body>

  </body>
</html>


