<nav>
  <a *ngIf="logoutHidden"
     class="btn btn-danger background-1 d-block"
     id="nav_login"
     [ngClass] = "{'background-3': loginActive, 'color-1': loginActive}"
     routerLink="/login"
     routerLinkActive="active">Login</a>
  <a *ngIf="!logoutHidden"
     class="btn btn-secondary d-block"
     id="nav_logout"
     routerLink="/home"
     (click)="logout()"
     routerLinkActive="active">Logout</a>
  <a class="btn btn-danger background-1 mt-3 d-block"
     id="nav_inventory"
     [ngClass] = "{'background-3': inventoryActive, 'color-1': inventoryActive}"
     routerLink="/inventory"
     routerLinkActive="active">Inventory</a>
  <a class="btn btn-danger background-1 mt-3 d-block"
     id="nav_admin"
     [ngClass] = "{'background-3': adminActive, 'color-1': adminActive}"
     routerLink="/admin"
     routerLinkActive="active">Admin</a>
  <a class="btn btn-danger background-1 mt-3 d-block"
     id="nav_home"
     [ngClass] = "{'background-3': homeActive, 'color-1': homeActive}"
     routerLink="/home"
     routerLinkActive="active">Home</a>
</nav>