<nav>
  <a class="btn btn-danger background-1 mt-3 d-block" id="nav_login" routerLink="/login" routerLinkActive="active">Login</a>
  <a class="btn btn-danger background-1 mt-3 d-block" id="nav_inventory" routerLink="/inventory" routerLinkActive="active">Inventory</a>
  <a class="btn btn-danger background-1 mt-3 d-block" id="nav_admin" routerLink="/admin" routerLinkActive="active">Admin</a>
  <a class="btn btn-danger background-1 mt-3 d-block" id="nav_home" routerLink="/home" routerLinkActive="active">Home</a>
</nav>
