<div class="d-flex justify-content-around flex-wrap bd-highlight mb-3">
    <div class="inventory-item-preview icon-box add-inventory-entry-button"
         data-toggle="modal"
         data-target="#panelModalAddEntry">
        <a>
            <i class="fas fa-plus add-entry-icon"></i>
        </a>
    </div>

    <div *ngFor="let entry of inventoryentries"
         class='inventory-item-preview'
         data-toggle='modal'
         data-target='#panelModalOpenEntry'
         id='inventory_item_preview_test'
         style='background-image:url(http://localhost:8080/projects/imgUpload/test.png)'>
        <i class='btn btn-danger button-remove' id='button_remove_test'>X</i>
    </div>
</div>
