<div cdkDropListGroup>
    <div class="example-container">
        <h2>Items to keep</h2>

        <div cdkDropList
             [cdkDropListData]="inventoryEntries"
             class="example-list d-flex example-box justify-content-around flex-wrap bd-highlight mb-3"
             (cdkDropListDropped)="drop($event)">
            <div class="icon-box add-inventory-entry-button"
                 data-toggle="modal"
                 data-target="#panelModalAddEntry">
                <a>
                    <i class="fas fa-plus add-entry-icon"></i>
                </a>
            </div>
            <app-inventory-entry-panel *ngFor="let entry of inventoryEntries"
                                       cdkDrag #
                                       (onDeleteEntry)="deleteEntry($event)"
                                       [entry]="entry">
            </app-inventory-entry-panel>
        </div>
    </div>

    <div class="example-container">
        <h2>Items to remove</h2>

        <div
                cdkDropList
                [cdkDropListData]="itemsToRemove"
                class="example-list d-flex example-box justify-content-around flex-wrap bd-highlight mb-3"
                (cdkDropListDropped)="drop($event)">
            <app-inventory-entry-panel *ngFor="let entry of itemsToRemove"
                                       cdkDrag
                                       (onDeleteEntry)="deleteEntry($event)"
                                       [entry]="entry">
            </app-inventory-entry-panel>
        </div>
    </div>
</div>

