<nav>
  <a *ngIf="logoutHidden"
     class="btn btn-swipe-right mt-3 d-block"
     id="nav_login"
     [ngClass] = "{'background-2': loginActive, 'background-4': !loginActive,'color-4': loginActive}"
     routerLink="/login"
     routerLinkActive="active">Login</a>
  <a *ngIf="!logoutHidden"
     class="btn  btn-swipe-right mt-3 d-block"
     id="nav_logout"
     routerLink="/home"
     (click)="logout()"
     routerLinkActive="active">Logout</a>
  <a class="btn btn-swipe-right mt-3 d-block"
     id="nav_inventory"
     [ngClass] = "{'background-2': inventoryActive, 'background-4': !inventoryActive, 'color-4': inventoryActive}"
     routerLink="/inventory"
     routerLinkActive="active">Inventory</a>
  <a class="btn btn-swipe-right mt-3 d-block"
     id="nav_admin"
     [ngClass] = "{'background-2': adminActive, 'background-4': !adminActive, 'color-4': adminActive}"
     routerLink="/admin"
     routerLinkActive="active">Admin</a>
  <a class="btn btn-swipe-right mt-3 mb-3 d-block"
     id="nav_home"
     [ngClass] = "{'background-2': homeActive, 'background-4': !homeActive, 'color-4': homeActive}"
     routerLink="/home"
     routerLinkActive="active">Home</a>
</nav>
