<div class="mt-3">
    <h2>What is MyFridge?</h2>
    <div class="row">
        <div class="col-sm-9">
            <p>Have you ever been standing in the grocery store trying to remember if there was still enough milk left
                in
                your refridgerator?
            </p>
            <br>
            <p>
                Of course you don't want to spend money unnecessarily, but you're really craving for some cereal with
                milk
                as well. That's a dilemma
                that MyFridge is going to solve!
            </p>
        </div>
        <div class="col-sm-3">
            <img class="w-100" src="../../assets/imgs/meme1.png">
        </div>
    </div>
</div>
